rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // User profile document and subcollections (including progress)
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
      
      match /progress/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // Global Leaderboards
    match /leaderboards/{documentId} {
      allow read: if true;
      allow create, update: if request.auth != null;
    }
  }
}

